@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
/* Force scrollbar */
html { overflow-y: scroll; }
/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }
/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}
strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}
em { font-style: italic; }
img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}
sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}
sup { top: -.7em; }
sub { bottom: -.25em; }
/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 1px;
  line-height: 150%;
}
a { 
  display: inline-block;
  text-decoration: none; 
}
li {
  display: inline-block;
  list-style-type: none;
}
/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 95%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  padding: 40px;
  height: 45px;
}
h1 {
  display: inline-block;
  text-indent: -9999px;
  float: left;
  margin-left: -18px;
  margin-top: -6px;
  margin-right: 20px;
}
h1 a {
  float: left;
  text-indent: 0;
}
.bak-one {
  text-transform: uppercase;
  display: block; 
  font-weight: bold;
  font-size: 25px; 
}
.bak-one-title {
  text-transform: capitalize;
  display: block;
  font-size: 17px;
}
nav {
  float: right;
  margin-top: -35px;
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 17px;
}
nav ul>li>a {
  color: black;
  margin: 18px;
  margin-right: 12px;
  margin-top: 0;
}


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.banner {
  opacity: 0.8;
}
.portfolio {
  padding: 60px;
  text-align: center;
}
h2 {
  text-transform: capitalize;
  font-size: 37px;
  margin-bottom: 15px;
  text-align: center;
}
.design-btn {
  margin: 45px;
  text-transform: uppercase;
}
.design-btn>li>a {
  color: white;
  background-color: #07C796;
  padding: 16px;
  margin: 8px;
  font-weight: bold;
}
li>a>img {
  width: 242px;
  height: 232px;
  margin: 20px;
  margin-top: 8px;
  margin-left: 30px;
  margin-right: 15px;
}
.about-us {
  background-color: #08A884;
  padding: 60px;
  text-align: center;
  color: white;
}
article {
  margin: 45px;
  margin-left: 35px;
  width:294px;
  height: 500px;
  background-color: white;
}
article>figure>img {
  width: 294px;
  height: 305px;
}
h3 {
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #7D7875;
  font-size: 25px;
}
h3+span {
  color: #7D7875;
  text-transform: capitalize;
  font-style: oblique;
  font-weight: bold;
}
h3+span+p {
  margin: 15px;
  margin-top: 30px;
  color: #7D7875;
  text-align: left;
}
.contact-us {
  padding: 60px;
  text-align: center;
  display: inline-block;
  background-color: #EBEFF2;
}
.contact-list {
  margin-top: 50px;
  width: 100%;
}
form {
  float: left;
  width: 49%;
  height: 300px;
  text-align: left;
}

form>div>input[type=text] {
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  font-size: 20px;  
  width: 43%;
  float: left;
  border: 2px solid #7D7875;
}
form>div>input[type=text]::first-letter {
  text-transform: capitalize;
}
form>div>textarea {
  width:95%;
  height: 200px;
  font-size: 20px;
  border: 2px solid #7D7875;
}
form>div>input[type=submit] {
  float: right;
  background-color: #06C798;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 18px;
  padding-left: 50px;
  padding-right: 50px;
  text-transform: uppercase;
  border-style: none;
  margin-right: 20px;
}
.information {
  margin: 10px;
  width: 49%;
  height: 300px;
  float: left;
  text-align: left;  
}
.information>span {
  text-transform: uppercase;
}
.information>span+ul>li>a {
  display: inline-block;
  width: 400px;
  color: black;
  margin: 10px;
  margin-left: 0;
}
address {
  display: block;
  width: 280px;
  margin-top: 20px;
  text-transform: capitalize;
}
address::before {
  content: "\f041";
  font-family: "FontAwesome";
  margin-right: 5px;
}
a[href="tel:+444123456"]::before {
  content: "\f098";
  font-family: "FontAwesome";
  margin-right: 5px;
}
a[href="fax:+123123456"]::before {
  content: "\f02f";
  font-family: "FontAwesome";
  margin-right: 5px;
}
a[href="mailto:info@bak-onecompany.com"]::before {
  content: "\f003";
  font-family: "FontAwesome";
  margin-right: 5px;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  padding: 40px;
  background-color: #323D53;
  color: white;
  font-size: 18px;  
  text-transform: capitalize;
}
a[title="Back To Top"] {
  width: 58px;
  height: 35px;
  background-color: #06C798;
  margin-top: -5px;
  float: right;  
  text-align: center;
  padding-top: 15px;
  padding-bottom: 0;
}
a[title="Back To Top"]::before {
  content: "\f077";
  font-family: "FontAwesome";
  color: white;
}



 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  